.container {
    max-width: 400px;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.5);
    max-width: 400px;
}

.todos-container li {
    background: rgba(0, 0, 0, 0.5);
}

.delete {
    cursor: pointer;
}

.hidden {
    display: none;
}
